
<main class="row">
  <section class="col-md-8">
    <div class="poker-table">
      <table class="poker-table-position">
        <tr>
          <td></td>
          <td>
            <%= image_tag("/users/user1.jpg", class: "player-image") %>
            <%= image_tag("/poker/hand.png", class: "hand-image Invisible") %>
            <div class="username">Kathryn</div>
          </td>
          <td>
            <%= image_tag("/users/user2.jpg", class: "player-image") %>
            <%= image_tag("/poker/hand.png", class: "hand-image Invisible") %>
            <div class="username">Raymond</div>

          </td>
          <td>
            <%= image_tag("/users/user3.jpg", class: "player-image") %>
            <%= image_tag("/poker/hand.png", class: "hand-image Invisible") %>
            <div class="username">Juli</div>

          </td> <td></td>
        </tr>
        <tr>
          <td>
            <%= image_tag("/users/user4.jpg", class: "player-image") %>
            <%= image_tag("/poker/hand.png", class: "hand-image Invisible") %>
            <div class="username">Scott</div>
          </td>
          <td></td>
          <td>
            <!-- <% @first_flop.each do |card| %>
              <%= image_tag(card["image"], class: "flop-image") %>
            <% end %> -->
            <%= image_tag("/poker/card-back.png", class: "flop-image Invisible") %>
            <%= image_tag("/poker/card-back.png", class: "flop-image Invisible") %>
            <%= image_tag("/poker/card-back.png", class: "flop-image Invisible") %>
          </td>
          <td><div id="circle"></div></td>
          <td>
            <%= image_tag("/users/user6.jpg", class: "player-image") %>
            <%= image_tag("/poker/hand.png", class: "hand-image Invisible") %>
            <div class="username">Ken</div>

          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <%= image_tag("/users/user7.png", class: "player-image") %>
            <%= image_tag("/poker/hand.png", class: "hand-image Invisible") %>
            <div class="username">Stephanie</div>
          </td>
          <td>
            <%= image_tag("/users/user8.jpg", class: "main-player-image") %>
            <div class="username">John</div>
            <% @first_hand.each do |card| %>
              <%= image_tag(card["image"], class: "main-hand-image Invisible") %>
            <% end %>
          </td>
          <td>
            <%= image_tag("/users/user5.jpg", class: "player-image") %>
            <%= image_tag("/poker/hand.png", class: "hand-image Invisible") %>
              <div class="username">Vivian</div>
          </td>
          <td></td>
        </tr>
      </table>
    </div>
    <div class="row poker-btn-container">
      <div class="col-md-4 poker-btn-box">
        <button type="button" name="button" class="poker-btn green">FOLD</button>
      </div>
      <div class="col-md-4 poker-btn-box">
        <button type="button" name="button" class="poker-btn yellow">CALL</button>
      </div>
      <div class="col-md-4 poker-btn-box">
        <button type="button" name="button" class="poker-btn red">RAISE</button>
      </div>
    </div>
    <div class="row poker-token-container">
      <div class="col-md-12"><%= image_tag("/poker/current-token.png", class: "player-image") %> 126</div>
    </div>
  </section>


  <section class="col-md-4 chat-container">
    <div id="messages">
    </div>
    <form id="chat-form" action="#" method="post">
      <textarea placeholder="comment" class="form-control" name="comment" ></textarea>
      <div>
        <button type="submit" name="button" class="btn btn-secondary btn-chat">Send</span></button>
      </div>
    </form>

    <div class="loader-back"></div>
    <div class="loader"></div>
  </section>
</main>

<script>

</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazyload/1.9.1/jquery.lazyload.min.js"></script>
<script>
$(function() {
  $('img').lazyload({
      event: 'sporty'
  });

  $(window).on('load', function() {
      var timeout = setTimeout(function() {
          $('img').trigger('sporty');
          $('.loader-back').hide();
          $('.loader').hide();
      }, 2000);

      var timeout2 = setTimeout(function() {
          for (var i = 0; i < $('.Invisible').length; i++) {
              setTimeout(function() {
              $('.Invisible').first().slideDown();
                $('.Invisible').first().removeClass('Invisible');
                console.log( $('.Invisible').first());
              }, 1000);
          }
      }, 3000);
  });

});

</script>
