<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-3">
    <h2>Checking Account</h2>
    <table class="table account-table">
      <tr>
        <th>Wallet</th> <td id="checking-balance">$174</td>
      </tr>
    </table>
  </div>
  <div class="col-md-4 jackpot">
    <h4 class="jackpot-amount">Winnings<br>$<span id="winnings">40</span> Saved</h4>
    <%= image_tag("/games/slot-machine.png", class: "slots-machine") %>
  </div>
  <div class="col-md-3">
    <h2>Savings Account</h2>
    <table class="table account-table">
      <tr>
        <th>Balance</th> <td id="savings-balance">$174</td>
      </tr>
      <tr>
        <th>Poker Chips</th> <td id="token-balance">$60</td>
      </tr>
    </table>
  </div>
  <div class="col-md-1"></div>
</div>
</div>

<hr class="featurette-divider">

<div id="myCarousel" class="carousel slide" data-ride="carousel">


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-3 token-converting">
        <%= image_tag("/games/1-token.png", class: "rounded-circle") %>
          <h2 class="token-header">$1 = $10 in chips</h2>
          <p><a href="#"><button id="1" class="buying-btn" type="button" name="button">Transfer</button></a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3 token-converting">
          <%= image_tag("/games/50-token.png", class: "rounded-circle") %>
          <h2 class="token-header">$5 = $50 in chips</h2>
          <p><a href="#"><button id="5" class="buying-btn" type="button" name="button">Transfer</button></a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3 token-converting">
          <%= image_tag("/games/100-token.png", class: "rounded-circle") %>
          <h2 class="token-header">$10 = $100 in chips</h2>
          <p><a href="#"><button id="10" class="buying-btn" type="button" name="button">Transfer</button></a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3 token-converting">
          <%= image_tag("/games/500-token.png", class: "rounded-circle") %>
          <h2 class="token-header">$50 = $500 in chips</h2>
          <p><a href="#"><button id="50" class="buying-btn" type="button" name="button">Transfer</button></a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->





<!-- <h1> Hi <%= @user.first_name %> Welcome to U.S Bank </h1>
