<!DOCTYPE html>
<html>
  <head>
    <title>RailsApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Casino Locale</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/users">Profile<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Games
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/poker_rooms/1"><%= image_tag("/games/poker-logo.png", class: "logo-image") %>Poker</a>
              <a class="dropdown-item" href="#"><%= image_tag("/games/blackjack-logo.png", class: "logo-image") %>Black Jack</a>
              <a class="dropdown-item" href="#"><%= image_tag("/games/slot-logo.png", class: "logo-image") %>Slots</a>
            </div>
          </li>
        </ul>
      </div>
    <%= image_tag("/users/user8.jpg", class: "header-photo") %>  <span class="name-header">John</span>
    </nav>
    <%= yield %>
  </body>
</html>
